@import "../../node_modules/lesshat/build/lesshat.less";
@import "../../lib/mixins.less";
.variables();

.venue-circle
{
    position: relative;
    &__value
    {
        position: absolute;
        font-size: 24px;
        top: calc(50%-4.5px);
        left: 50%;
        font-weight: 300;
        transform: translate(-50%, -50%);
    }
    &__label
    {
        font-size: 12px;
        left: 0;
        height: 18px;
        line-height: 18px;
        color: @panel-grey-color;
        width: 100%;
        text-align: center;
    }
}
