@import "../../node_modules/lesshat/build/lesshat.less";
@import "../../lib/mixins.less";
.variables();
.href(@color: @foursquare-blue)
{
    text-decoration: none;
    color: @color;
    &:hover
    {
        text-decoration: underline;
    }
}

.venue
{
    position: absolute;
    box-sizing: border-box;
    min-height: 100%;
    width: 300px;
    color: @black-text;
    &__icon
    {
        background-color: @foursquare-blue;
        .size(32px);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 16px;
        float: left;
    }

    &__name,
    &__phone,
    &__address,
    &__website,
    &__category
    {
        margin-left: 42px;
        display: block;
    }

    &__address
    {
        clear: left;
        margin-top: 10px;
        .href(@black-text);
    }

    &__website
    {
        .href();
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__phone
    {
        margin-left: 42px - 10px;
        .href(@black-text);

    }

    &__category
    {
        color: @grey-text;
        font-size: 10px;
    }

    &__circles
    {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__circle
    {
        width: 50%;
        float: left;
        box-sizing: border-box;
        padding: 5px;
    }
    &__bar
    {
        width: 25%;
    }
    &__bar + &__bar
    {
        left: 25%;
    }
    &__bar + &__bar + &__bar
    {
        left: 50%;
    }
    &__bar + &__bar + &__bar + &__bar
    {
        left: 75%;
    }
    &__bars
    {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 180px;
    }

}
