@import "../../node_modules/lesshat/build/lesshat.less";
@import "../../lib/mixins.less";

.variables();

.food-rating
{
    @bar-heigth: 35px;
    &__rating-item
    {
        position: relative;
        width: 100%;
        height: @bar-heigth;
    }
    &:hover &__short-name
    {
        text-decoration: underline;
    }
    &__short-name
    {
        width: 100px;
        position: absolute;
        color: white;
        text-decoration: none;
        left: 0;
        height: 100%;
        text-align: right;
        line-height: @bar-heigth;
        font-size: @small-text;
    }
    &__bar
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 120px;
        right: 0;
    }
    &__icon
    {
        .size(32px);
        display: block;
        margin-left: -10px;
        transform: scale(0.8);
        float: left;
    }
}
