@import "../../node_modules/lesshat/build/lesshat.less";

.map
{
    @panel-height: 200px;
    @panel-padding: 10px;
    position: absolute;
    .size(100%);
    &__map-node
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: @panel-height;
    }
    &__panel
    {
        position: absolute;
        height: @panel-height - 2 * @panel-padding;
        bottom: @panel-padding;
        left: @panel-padding;
        right: @panel-padding;
    }
}
